@import '../theme.css';

.filled-text-field {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--md-sys-spacing-m);
}

.filled-text-field label {
  font-size: var(--md-sys-typography-body2-font-size);
  color: var(--md-sys-color-primary);
}

.filled-text-field input {
  border: none;
  border-radius: var(--md-sys-border-radius-small);
  padding: var(--md-sys-spacing-s);
  font-size: var(--md-sys-typography-body1-font-size);
  background-color: var(--md-sys-color-surface-variant);
  transition: background-color 0.3s;
}

.filled-text-field input:focus {
  background-color: var(--md-sys-color-surface);
  outline: none;
}
